<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=drugName%></title>
    <link rel="stylesheet" href="css/Page2styles.css" />
</head>
<body>
    <h1>Drug: <%=drugName%></h1>
    <p>Dosage Form: <%=dosageForm%></p>
    <p>Brand Name: <%=brandName%></p>
    <p>Administration Route: <%=route%></p>
    <p>Commonly Used For: <%=pharmClass%></p>
    
   
</body>
</html>