<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=drugName%></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Page2styles.css" />
    <!-- Bootstrap Script -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Nav Bar -->

      <nav class="navbar navbar-dark">
        <span class="navbar-brand mb-0 h1">Gem Drugs</span>
      </nav>
    </div>

    <section>
      <article>
        <div><h1><%=drugName%></h1></div>

        <div>
          <h3>Dosage Form</h3>
          <p><%=dosageForm%></p>
        </div>
        <hr />
        <div>
          <h3>Brand Name</h3>
          <p><%=brandName%></p>
        </div>
        <hr />
        <div>
          <h3>Administration Route</h3>
          <p><%=route%></p>
        </div>
        <hr />
        <div>
          <h3>Commonly Used For</h3>
          <p><%=pharmClass%></p>
        </div>
        <div>
          <h3>Pharmacodynamics</h3>
          <p><%=pp%></p>
        </div>
      </article>
      <nav>
        <ul>
          <h6>History</h6>
          <li><a href="#">blah</a></li>
          <li><a href="#">blah</a></li>
          <li><a href="#">blah</a></li>
        </ul>
      </nav>
    </section>

    <footer>
      <p>Blah</p>
    </footer>
  </body>
</html>
