<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&family=Sacramento&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Page2styles.css" />
    <!-- Bootstrap Script -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="body">
      <div class="container-fluid">
        <!-- Nav Bar -->
        di
        <nav class="navbar navbar-dark">
          <span id="a" class="navbar-brand mb-0 h1">Gem Drugs</span>
          <span id="b" class="navbar-brand mb-0 h1"><%=BrandName%></span>
          <span id="c" class="navbar-brand mb-0 h1"><a href="#">History</a></span>
          <span id="c" class="navbar-brand mb-0 h1"><a href="/home.html">Back</a></span>
        </nav>
      </div>
      <div class="sized-box"></div>
      <section id="main-section">
        <article>
          <div>

            <h3>Generic Name</h3>
            <p><%=DrugName%></p>
          </div>
          <hr />
          <div>
            <h3>Labeler Name:</h3>
            <p><%=LabelerName%></p>
          </div>
          <hr />
          <div>
            <h3>Product Type:</h3>
            <p><%=ProductType%></p>
          </div>
          <hr />
          <div>
            <h3>Pharmacologic Class:</h3>
            <p><%=PharmacologicalClass%></p>
          </div>
                    <hr />
          <div>
            <h3>Administration Route</h3>
            <p><%=AdminRoute%></p>
          </div>
          <hr />
          <div>
            <h3>Description</h3>
            <p><%=Description%></p>
          </div>
          <hr />
          <div>
            <h3>Pediatric Use</h3>
            <p><%=PediatricUse%></p>
          </div>
          <hr />
          <div>
            <h3>Dosage Details</h3>
            <h5>- Dosage Form:</h5>
            <p><%=DosageForm%></p>
            <h5>- Over Dosage:</h5>
            <p><%=OverDosage%></p>
          </div>
        </article>
      </section>
      <div class="sized-box"></div>
      <hr class="hr-1">
      <footer>
        <h2><span>Pharmacies Near Me</span></h2>
      </footer>
    </section>
  </body>
</html>
