<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <!-- Material CSS -->
    <link
      type="text/css"
      rel="stylesheet"
      href="../css/materialize.css"
      media="screen,projection"
    />
    <title>Maps</title>
  </head>
  <body>
    <!-- NavBar -->
    <nav class="nav-wrapper grey black">
      <span
        class="brand-logo center light-text Ghead"
        style="font-family: 'Sacramento', cursive; font-size: xx-large"
        ><a href="/views/Home.html">Gem Drugs</a></span
      >
    </nav>
    <!-- Collections -->
    <ul class="collection with-header">
      <li class="collection-header"><h4>Pharmacies Near Me</h4></li>
      <li class="collection-item avatar">
        <span class="title"><%=loc1%></span>
        <p>
          Drug Availability: <%=avail1%> <br />
          Phone: <%=phone1%> <br />
          City: <%=cit1%> <br />
        </p>
        <a href="#!" class="secondary-content">Distance: <%=met1%>m</a>
      </li>
      <li class="collection-item avatar">
        <span class="title"><%=loc2%></span>
        <p>
          Drug Availability: <%=avail2%> <br />
          Phone: <%=phone2%> <br />
          City: <%=cit2%> <br />
        </p>
        <a href="#!" class="secondary-content">Distance: <%=met2%>m</a>
      </li>
      <li class="collection-item avatar">
        <span class="title"><%=loc3%></span>
        <p>
          Drug Availability: <%=avail3%> <br />
          Phone: <%=phone3%> <br />
          City: <%=cit3%> <br />
        </p>
        <a href="#!" class="secondary-content">Distance: <%=met3%>m</a>
      </li>
      <li class="collection-item avatar">
        <span class="title"><%=loc4%></span>
        <p>
          Drug Availability: <%=avail4%> <br />
          Phone: <%=phone4%> <br />
          City: <%=cit4%> <br />
        </p>
        <a href="#!" class="secondary-content">Distance: <%=met4%>m</a>
      </li>
      <li class="collection-item avatar">
        <span class="title"><%=loc5%></span>
        <p>
          Drug Availability: <%=avail5%> <br />
          Phone: <%=phone5%> <br />
          City: <%=cit5%> <br />
        </p>
        <a href="#!" class="secondary-content">Distance: <%=met5%>m</a>
      </li>
    </ul>

    <!-- Material JS -->
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
